USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Khu_vực]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Khu_vực](
	[region_id] [int] IDENTITY(1,1) NOT NULL,
	[region] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Khu_vực] PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, 
ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Khu_vực] ON 

INSERT [dbo].[dim_Khu_vực] ([region_id], [region]) VALUES (1, N'Northeast')
INSERT [dbo].[dim_Khu_vực] ([region_id], [region]) VALUES (2, N'Southeast')
INSERT [dbo].[dim_Khu_vực] ([region_id], [region]) VALUES (3, N'North')
SET IDENTITY_INSERT [dbo].[dim_Khu_vực] OFF
GO
