USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Nhà_cung_cấp]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Nhà_cung_cấp](
	[seller_state_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_state] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Nhà_cung_cấp] PRIMARY KEY CLUSTERED 
(
	[seller_state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Nhà_cung_cấp] ON 

INSERT [dbo].[dim_Nhà_cung_cấp] ([seller_state_id], [seller_state]) VALUES (1, N'GO')
INSERT [dbo].[dim_Nhà_cung_cấp] ([seller_state_id], [seller_state]) VALUES (2, N'MA')
INSERT [dbo].[dim_Nhà_cung_cấp] ([seller_state_id], [seller_state]) VALUES (3, N'CE')
SET IDENTITY_INSERT [dbo].[dim_Nhà_cung_cấp] OFF
GO
