USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Hình_thức_thanh_toán]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Hình_thức_thanh_toán](
	[payment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_type] [nvarchar](50) NULL,
	[payment_instalments] [int] NULL,
 CONSTRAINT [PK_dim_Hình_thức_thanh_toán] PRIMARY KEY CLUSTERED 
(
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Hình_thức_thanh_toán] ON 

INSERT [dbo].[dim_Hình_thức_thanh_toán] ([payment_type_id], [payment_type], [payment_instalments]) VALUES (1, N'credit_card', 13)
INSERT [dbo].[dim_Hình_thức_thanh_toán] ([payment_type_id], [payment_type], [payment_instalments]) VALUES (2, N'credit_card', 5)
INSERT [dbo].[dim_Hình_thức_thanh_toán] ([payment_type_id], [payment_type], [payment_instalments]) VALUES (3, N'credit_card', 7)
SET IDENTITY_INSERT [dbo].[dim_Hình_thức_thanh_toán] OFF
GO
