USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Trạng_thái_giao_hàng]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Trạng_thái_giao_hàng](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_] [nvarchar](50) NULL,
	[arrival_status] [nvarchar](50) NULL,
 CONSTRAINT [PK_staus] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Trạng_thái_giao_hàng] ON 

INSERT [dbo].[dim_Trạng_thái_giao_hàng] ([status_id], [status_], [arrival_status]) VALUES (1, N'canceled', N'Early')
INSERT [dbo].[dim_Trạng_thái_giao_hàng] ([status_id], [status_], [arrival_status]) VALUES (2, N'delivered', N'Late')
INSERT [dbo].[dim_Trạng_thái_giao_hàng] ([status_id], [status_], [arrival_status]) VALUES (3, N'canceled', N'Late')
SET IDENTITY_INSERT [dbo].[dim_Trạng_thái_giao_hàng] OFF
GO
