USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Ngành_hàng]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Ngành_hàng](
	[product_category_id] [int] IDENTITY(1,1) NOT NULL,
	[product_category_name] [nvarchar](50) NULL,
	[product_category] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Ngành_hàng] PRIMARY KEY CLUSTERED 
(
	[product_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Ngành_hàng] ON 

INSERT [dbo].[dim_Ngành_hàng] ([product_category_id], [product_category_name], [product_category]) VALUES (1, N'agro_industria_e_comercio', N'Industry & Construction')
INSERT [dbo].[dim_Ngành_hàng] ([product_category_id], [product_category_name], [product_category]) VALUES (2, N'alimentos', N'Food & Drinks')
INSERT [dbo].[dim_Ngành_hàng] ([product_category_id], [product_category_name], [product_category]) VALUES (3, N'alimentos_bebidas', N'Food & Drinks')
SET IDENTITY_INSERT [dbo].[dim_Ngành_hàng] OFF
GO
