USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Thời_gian]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Thời_gian](
	[date] [date] NULL,
	[year] [int] NULL,
	[quarter] [int] NULL,
	[month] [int] NULL,
	[day] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dim_Thời_gian] ([date], [year], [quarter], [month], [day]) VALUES (CAST(N'2017-12-03' AS Date), 2017, 4, 12, 3)
INSERT [dbo].[dim_Thời_gian] ([date], [year], [quarter], [month], [day]) VALUES (CAST(N'2017-02-27' AS Date), 2017, 1, 2, 27)
INSERT [dbo].[dim_Thời_gian] ([date], [year], [quarter], [month], [day]) VALUES (CAST(N'2017-01-15' AS Date), 2017, 1, 1, 15)
GO
