USE [Nhóm 10-Data Warehouse]
GO
/****** Object:  Table [dbo].[dim_Phân_khúc_khách_hàng]    Script Date: 11/30/2024 11:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Phân_khúc_khách_hàng](
	[segment_id] [int] IDENTITY(1,1) NOT NULL,
	[segment_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_Phân_khúc_khách_hàng] PRIMARY KEY CLUSTERED 
(
	[segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dim_Phân_khúc_khách_hàng] ON 

INSERT [dbo].[dim_Phân_khúc_khách_hàng] ([segment_id], [segment_name]) VALUES (1, N'At Risk')
INSERT [dbo].[dim_Phân_khúc_khách_hàng] ([segment_id], [segment_name]) VALUES (2, N'')
INSERT [dbo].[dim_Phân_khúc_khách_hàng] ([segment_id], [segment_name]) VALUES (3, N'Hibernating')
SET IDENTITY_INSERT [dbo].[dim_Phân_khúc_khách_hàng] OFF
GO
